html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 4rem;
    background-color: #f5f5f5;
}

body.vertical-center-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

form,
.article-content {
    max-width: 600px;
}

.github-corner {
    fill:#eb6864;
}

.share-url,
.copy-check {
    display: none;
}

.keyword {
    margin-right: 8px;
    font-style: italic;
    color: #eb6864;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.fa-symfony {
    color: #1a171b;
}

.fa-symfony:hover {
    color: #000000;
}

.fa-bootstrap {
    color: #7952b3;
}

.fa-bootstrap:hover {
    color: #563d7c;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    cursor: pointer;
}